<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp</title>
</head>
<body>
    <div class="input-container">
        <h1 class="page-heading">TravelApp</h1>
        <form id="submit-form">
            <input id="location" type="text" list="cities" placeholder="city" autocomplete="off" required>
            <datalist id="cities"></datalist>
            <input type="date" id="date" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}" required>
            <span id="error-date"></span>
            <button id="submit">submit</button>
        </form>
    </div>
</body>
</html>