<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelApp</title>
</head>
<body>
    <h1>TravelApp</h1>
    <form>
        <input id="zip" type="text" placeholder="zip code" value="4020">
        <select id="country">
            <option value="AT">austria</option>
            <option value="DE">germany</option>
        </select>
        <input type="date" placeholder="yyyy-mm-dd">
        <button id="submit">submit</button>
    </form>
    <div id="possible-places"></div>
    
</body>
</html>