#select-div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    select, button {
        // wie bei form
        background-color: #FFF;
        height: 1.5rem;
        border: 1px solid #000;
        border-radius: 1.5rem;
        margin: 0.5rem;
        padding: 0.25rem;
        text-align: center;
    }

    select {
        width: fit-content;
    }

    button {
        width: 40%;
        align-self: center;
        background-color: #DB8816;
        cursor: pointer;

        &:hover {
            background-color: #FFF;
            color: #DB8816;
        }
    }
}